section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  > form {
    color: $green;
    flex: 1 100%;
  }

  h3, h4 {
    color: $black;
    flex: 1 100%;
  }

  .box {
    padding: 1%;
    margin: 1%;
    border: 4px double $black;
  }

  #slothbearslist {
    @extend .box;
    flex: 1 100%;
  }

  #bearslist, #slothslist {
    @extend .box;
    flex: 1 60%;
  }

  #bearstopten, #slothstopten {
    @extend .box;
    flex: 1 30%;
  }
}
