<section data-ng-controller="SlothbearsController as slothbearsctrl"
  data-ng-init="globalAuth.getUsername()">
  <ul id="slothbear-error">
    <li data-ng-repeat="error in slothbearsctrl.errors">{{ error.message }}
      <button
        data-ng-click="slothbearsctrl.errors.splice(slothbearsctrl.errors.indexOf(error), 1)">x
      </button>
    </li>
  </ul>
  <h3>Make a Slothbear</h3>
  <button data-ng-click="slothbearsctrl.createSlothbear()">Make a Slothbear</button>
  <section id="slothbearslist">
    <h4>Current Slothbears</h4>
    <ul>
      <slothbear-list-item data-ng-repeat="slothbear in slothbearsctrl.slothbears"
      data-slothbear="slothbear">
        <slothbear-form data-ng-if="slothbear.editing"
        data-button-text="Update Slothbear"
        data-savemethod="update"
        data-slothbear="slothbear">
          <button data-ng-click="slothbearsctrl.restoreBackup(slothbear); slothbear.editing = false">Cancel</button>
        </slothbear-form>
      </slothbear-list-item>
    </ul>
  </section>
</section>
