<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>S L O T H B E A R  A P P</title>
  </head>
  <body data-ng-app="slothbearApp">
    <main>
      <section data-ng-controller="BearsController as bearsctrl"
        data-ng-init="bearsctrl.getAll()">
        <ul id="bear-error">
          <li data-ng-repeat="error in bearsctrl.errors">{{ error.message }}
            <button
              data-ng-click="bearsctrl.errors.splice(bearsctrl.errors.indexOf(error), 1)">x
            </button>
          </li>
        </ul>
        <h3>Create a Bear</h3>
        <bear-form data-button-text="Create Bear"
          data-savemethod="create"
          data-bear="bearsctrl.newBear">
        </bear-form>
        <h4>Current Bears</h4>
        <h4>Top Ten Bears</h4>
        <ul id="bearslist">
          <bear-list-item data-ng-repeat="bear in bearsctrl.bears" data-bear="bear">
            <bear-form data-ng-if="bear.editing"
              data-button-text="Update Bear"
              data-savemethod="update"
              data-bear="bear">
              <button data-ng-click="bearsctrl.restoreBackup(bear); bear.editing = false">Cancel</button>
            </bear-form>
          </bear-list-item>
        </ul>
        <ol id="bearstopten">
          <li data-ng-repeat="bear in bearsctrl.topTen">
            {{ bear.name }} : {{ bear.offspring.length }} children
          </li>
        </ol>
      </section>

      <section data-ng-controller="SlothsController as slothsctrl"
        data-ng-init="slothsctrl.getAll()">
        <h3>Create a Sloth</h3>
        <sloth-form data-button-text="Create Sloth"
          data-savemethod="create"
          data-sloth="slothsctrl.newSloth">
        </sloth-form>
        <h4>Current Sloths</h4>
        <h4>Top Ten Sloths</h4>
        <ul id="slothslist">
          <sloth-list-item data-ng-repeat="sloth in slothsctrl.sloths"
            data-sloth="sloth">
            <sloth-form data-ng-if="sloth.editing"
              data-button-text="Update Sloth"
              data-savemethod="update"
              data-sloth="sloth">
            <button data-ng-click="slothsctrl.restoreBackup(sloth); sloth.editing = false">Cancel</button>
            </sloth-form>
          </sloth-list-item>
        </ul>
        <ol id="slothstopten">
          <li data-ng-repeat="sloth in slothsctrl.topTen">
            {{ sloth.name }} : {{ sloth.offspring.length }} children
          </li>
        </ol>
      </section>

      <section data-ng-controller="SlothbearsController as slothbearsctrl"
        data-ng-init="slothbearsctrl.getAll()">
        <ul id="slothbear-error">
          <li data-ng-repeat="error in slothbearsctrl.errors">{{ error.message }}
            <button
              data-ng-click="slothbearsctrl.errors.splice(slothbearsctrl.errors.indexOf(error), 1)">x
            </button>
          </li>
        </ul>
        <h3>Make a Slothbear</h3>
        <button data-ng-click="slothbearsctrl.createSlothbear()">Make a Slothbear</button>
        <h3>Current Slothbears</h3>
        <ul id="slothbearslist">
          <slothbear-list-item data-ng-repeat="slothbear in slothbearsctrl.slothbears"
            data-slothbear="slothbear">
            <slothbear-form data-ng-if="slothbear.editing"
              data-button-text="Update Slothbear"
              data-savemethod="update"
              data-slothbear="slothbear">
              <button data-ng-click="slothbearsctrl.restoreBackup(slothbear); slothbear.editing = false">Cancel</button>
            </slothbear-form>
          </slothbear-list-item>
        </ul>
      </section>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
