<form data-ng-submit="save(sloth)">
  <label>Name
    <input type="text" name="name" data-ng-model="sloth.name">
  </label>

  <label>Weight
    <input type="text" name="weight" data-ng-model="sloth.weight" placeholder="500">
  </label>

  <label>Strength
    <input type="text" name="strength" data-ng-model="sloth.strength" placeholder="10">
  </label>

  <label>Gender
    <input type="text" name="gender" data-ng-model="sloth.gender" placeholder="m">
  </label>

  <button type="submit">{{ buttonText }}</button>
  <ng-transclude></ng-transclude>
</form>
